<table border=0 cellpadding=0 cellspacing=5 width="100%">
<maly-if var="MODE" ne="Add">
<tr>
  <td align=left>
    <maly-set var="SRCVALS">new Array(<maly-loop var='LINKS{#ATTR#}{SRCKEY}' name='SK'>'#ENTRY{#SK#}#'<maly-if var='MALYITER' ne='#MALYLASTITER#'>, </maly-if></maly-loop>)</maly-set>
    <a href="Javascript:void(0)" onClick="return link_search('#PATH_INFO{TREE}#', '#LINKS{#ATTR#}{DESTOC}#', '#LINKS{#ATTR#}{DESTKEY}#', #SRCVALS#);">View</a>
    <maly-else/>
  </td>
</tr>
</maly-if>
<tr>
  <td align=left>
    Add:<br>
    <select multiple=multiple style="width: 100%; height: 50px" name="#ATTR#_add" id="#ATTR#_add">
    </select>
    <br>
    <a href="Javascript:void(0)" onClick="multiList_prompt_add('#ATTR#_add', '#PROMPT{#ATTR#}#');">Set</a> |
    <a href="Javascript:void(0)" onClick="multiList_prompt_replace('#ATTR#_add', '#PROMPT{#ATTR#}#');">Change</a> |
    <a href="Javascript:void(0)" onClick="multiList_remove('#ATTR#_add');">Cancel</a>
  </td>
</tr>
<maly-if var="MODE" ne="Add">
<tr>
  <td align=left>
    Remove:<br>
    <select multiple=multiple style="width: 100%; height: 50px" name="#ATTR#_remove" id="#ATTR#_remove">
    </select>
    <br>
    <a href="Javascript:void(0)" onClick="multiList_prompt_add('#ATTR#_remove', '#PROMPT{#ATTR#}#');">Set</a> |
    <a href="Javascript:void(0)" onClick="multiList_prompt_replace('#ATTR#_remove', '#PROMPT{#ATTR#}#');">Change</a> |
    <a href="Javascript:void(0)" onClick="multiList_remove('#ATTR#_remove');">Cancel</a>
  </td>
</tr>
</maly-if>

</table>
